.proyectsWrapper,
.proyectsWrapperFull {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}
.proyectsWrapper {
  padding-block: var(--padding-block-grande);
}
.h2 {
  font-size: var(--fs-800);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
  line-height: var(--lh-small);
  color: hsl(var(--clr-acento-uno));
  align-self: center;
}
.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-bottom: calc(var(--margin-texto) + 0.5rem);
}
.cardsSinImagen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: stretch; */
  gap: 1.5rem;
}
