.sectionSuperior {
  background-color: hsl(var(--clr-acento-dos));
  color: hsl(var(--clr-base-uno));
}
.sectionInferior {
  background-color: hsl(var(--clr-acento-dos));
  color: hsl(var(--clr-base-uno));
}

.wrapperSuperior {
  padding-block-start: var(--padding-block-grande);
  border-block-end: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
}

.wrapperInferior {
  padding-block-end: var(--padding-block-grande);
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
}
.h2 {
  font-size: var(--fs-800);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
  line-height: var(--lh-small);
  text-align: center;
}
.ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ul li {
  font-size: var(--fs-500);
  font-weight: var(--f-wei-600);
}

@media (min-width: 40rem) {
  .wrapperSuperior {
    flex-direction: row;
  }
  .wrapperInferior {
    flex-direction: row;
  }
  .h2 {
    flex-basis: clamp(200px, 30vw, 400px);
    flex-shrink: 0;
    text-align: left;
  }
  .ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
