.container {
  /* container-type: inline-size; */
}
.card {
  display: flex;
  flex-direction: column;
  outline: 1px solid red;
}
@container (max-width: 300px) {
  .card {
    /* max-width: 300px; */
  }
}
