.controlsContainer {
  display: flex;
  justify-content: center;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 15rem
}

.contentContainer>h3 {
  text-align: center;
}

.prevNextContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 3rem;
}

.prevNextContainer>button {
  width: 2rem;
  height: 2rem;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.btnIcon {
  color: hsl(var(--clr-texto));
  /* stroke-width: 2px; */
  width: 2rem;
  height: 2rem;
}

.pageNumber {
  font-size: var(--fs-900);
  line-height: var(--lh-small);
  font-weight: var(--f-wei-900);
  width: 4rem;
  display: flex;
  justify-content: center;
}

.range {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  /* width: 15rem; */
  /* width: clamp(10rem, 10vw, 15rem); */
}

/* .range:focus {
  outline: none;
} */

.range::-webkit-slider-runnable-track {
  background-color: hsl(var(--clr-acentado));
  height: 0.6rem;
  border-radius: var(--border-radius);
}

.range::-moz-range-track {
  background-color: hsl(var(--clr-acentado));
  border-radius: var(--border-radius);
  height: 0.6rem;
}

.range::-webkit-slider-thumb {
  /* Override default look */
  -webkit-appearance: none;
  appearance: none;
  /* Centers thumb on the track */
  margin-top: -0.8rem;
  background-color: hsl(var(--clr-acentado-color));
  height: 1.8rem;
  width: 0.5rem;
  border-radius: var(--border-radius);
}

/* .range:focus::-webkit-slider-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
} */

.range::-moz-range-thumb {
  /*Removes extra border that FF applies*/
  border: none;
  /*Removes default border-radius that FF applies*/
  background-color: hsl(var(--clr-acentado-color));
  height: 1.8rem;
  width: 0.5rem;
  border-radius: var(--border-radius);

}

/* .range:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
} */

.rangeContainer {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.ticksContainer {
  display: flex;
  justify-content: space-between;
}