.sectionSuperior {
  background-color: hsl(var(--clr-uno));
  color: hsl(var(--clr-base-uno));
}
.wrapperSuperior {
  padding-block-start: var(--padding-block-grande);
  border-block-end: 2px solid hsl(var(--clr-base-uno));
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}
.wrapperSuperiorSingle {
  padding-block-end: var(--padding-block-grande);
  border-block-end: none;
}
.h2 {
  font-size: var(--fs-800);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
  line-height: var(--lh-small);
  text-align: center;
  color: hsl(var(--clr-acento-uno));
}
.contenidoSuperior {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singleLink {
  display: inline-block;
  margin-top: var(--gap-base);
  background-color: hsl(var(--clr-acento-dos));
  color: hsl(var(--clr-base-uno));
  padding: 0.5rem 2rem;
  border-radius: var(--border-radius);
  text-decoration: none;
  font-weight: var(--f-wei-600);
  font-size: var(--fs-400);
  transition: scale 0.2s ease-in-out;
}
.singleLink:hover {
  scale: 1.05;
}

@media (min-width: 50rem) {
  .wrapperSuperior {
    flex-direction: row;
  }
  .h2 {
    flex-basis: clamp(200px, 30vw, 400px);
    flex-shrink: 0;
    text-align: left;
  }
  .contenidoSuperior {
    align-items: flex-start;
  }
}
